.introduction{
    width: 50%;
    padding:2rem;
   
    /* border-radius: 25px; */
 
    min-width: 300px;
    border-bottom: solid lightgray;
    margin-top: 5rem;

}

.introductionSub{
    display: flex;
    margin-top: 4rem;
}

.title img{
    max-height: 300px;
    transition: transform 0.7s cubic-bezier(0.25, 0.8, 0.25, 1), box-shadow 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.title img:hover{
    transform: scale(1.1); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); 
}

.title{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
    gap:2rem;
    
}

.nameSection{
    justify-content: center;
    display: flex;
    flex-direction: column;
    animation: floatIn 2s ease;
}



@keyframes floatIn{
    from{
        transform: translateX(-40px);
        opacity:0;
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}

.name{
    display: flex;
    flex-direction: column;
    gap: 0;
    
}


.name h1 {
    margin: 0; 
    padding: 0;
    font-size: 4rem; 
    font-weight: bold;
    
   
}


.otherName{
    display: flex;
    align-items: center;
    gap: 1rem;
    align-items: center;
    
}

.photo{
    display: flex;
  
    justify-content: center;
    height: 100%;
    animation: floatInRight 2s ease;

  
}

@keyframes floatInRight{
    from{
        transform: translateX(40px);
        opacity: 0;
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}

.photo img{
    border-radius: 25px;
    max-height: 400px;
    width:auto;
    
    
}

.introductionTitle{
    font-size:0.8rem;
    color: darkgray;
    animation: floatIn 2s ease;
}

.position{
    color: gray;
}

.nameContent{
    transition: transform 0.7s cubic-bezier(0.25, 0.8, 0.25, 1), box-shadow 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
}


.nameContent:hover{
    transform: scale(1.1); /* Scale image up by 10% */
    
    font-weight: bold;


}

.otherName{
    transition: transform 0.7s cubic-bezier(0.25, 0.8, 0.25, 1), box-shadow 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
}


.otherName:hover{
    transform: scale(1.1); /* Scale image up by 10% */
    font-weight: bold;
}

.nameContent:hover span{
    opacity:0;
}

.nameContent span:hover{
    opacity:1;
}

@media (max-width: 500px){
    .title{
        flex-direction: column;
    }

    .nameSection{
        align-items: center;
    }
    .introduction{
        margin-top: 1rem;
    }
}